{% load static %}

<div class="fr-header__body">
  <div class="fr-container">
    <div class="fr-header__body-row">
      <div class="fr-header__brand fr-enlarge-link">
        <img class="fr-header__brand-top fr-hidden-md"
             src="{% static 'images/marianne.svg' %}"
             alt="République française">
        <div class="fr-header__brand-top fr-hidden fr-unhidden-md">
          <div class="fr-header__logo">
            <p class="fr-logo">
              République
              <br>
              Française
            </p>
          </div>
        </div>
        <div class="fr-header__service">
          <a href="/">
            <span class="fr-header__service-title">Simulateur nitrates</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
