{% load yaml_admin_extras %}

<li class="yaml-tree__item yaml-tree__item--branche">
  {% include "nitrates_admin/yaml_tree/forms/_branche_block.html" with branche=branche parent_path=ancestors_path valeur=branche.valeur %}

  {% if branche.noeud %}
    <ul class="yaml-tree__children">
      {% include "nitrates_admin/yaml_tree/_noeud.html" with noeud=branche.noeud ancestors_path=ancestors_path depth=depth|add:1 %}
    </ul>
  {% elif branche.regle %}
    {% include "nitrates_admin/yaml_tree/_regle.html" with regle=branche.regle parent_path=ancestors_path valeur=branche.valeur %}
  {% elif branche.renvoi_vers %}
    <div class="yaml-tree__renvoi">
      <span class="yaml-tag tag-renvoi" title="Renvoi vers une règle existante">
        <span class="yaml-tag__icon" aria-hidden="true">↪️</span>
        <span class="yaml-tag__label">renvoi</span>
      </span>
      <code class="yaml-tree__id">→ {{ branche.renvoi_vers }}</code>
    </div>
  {% endif %}
</li>
